<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Spring sandbox</title>
</head>
<body>
<h1>Employee list</h1>
    <div>
        <table>
            <thead>
            <tr>
                <th> First name </th>
                <th> Last name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${employees.empty}">
                <td colspan="2"> No Employees </td>
            </tr>
            <tr th:each="employee : ${employees}">
                <td><span th:text="${employee.firstName}"> First name</span></td>
                <td><span th:text="${employee.lastName}"> Last name </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>